.wrapper{
    padding: 0 20px;
    .account{
        width: 100%;
        display: flex;
        margin-bottom: 20px;
        justify-content: flex-end;
        .account__preview{
            background-color: var(--color-accent);
            color: white;
            padding: 10px;
        }
    }
    .services{
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(auto-fill, 300px);
        .service{
            display: flex;
            flex-direction: column;
            gap: 10px;
            border: 3px solid #5d7388;
            padding: 10px;
            cursor: pointer;
            &__header{
                display: flex;
                gap: 10px;
                .service__arrow{
                    color: var(--color-text);
                    height: 20px;
                    transform: rotate(90deg) translateY(-8px);
                }
            }
        }
        // @media(max-width:1200px){
        //     grid-template-columns: auto auto auto;
        // }
    }
}