@use './fonts' as *;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: #ffffff;
  --color-text: #1a1a1a;
  --color-accent: #5d7388;
  color-scheme: light; /* Важно для нативных скроллбаров и контролов */
}

[data-theme="dark"] {
  --color-bg: #121212;
  --color-text: #e0e0e0;
  --color-card: #1e1e1e;
  color-scheme: dark;
}

header{
  a{
    color: var(--color-text);
    text-decoration: none;
  }
}

h1, h2, h3{
  font-family: "Ubuntu";
  font-weight: 500;
}